/node_modules
/public/hot
/public/storage
/public/images/avatars
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
