@import '@fortawesome/fontawesome-free/css/all'
@import 'bulma/bulma'
@import '@creativebulma/bulma-tagsinput'
@import 'bulma-extensions/bulma-tooltip/dist/css/bulma-tooltip'

$grey-lighter2: #e8e8e8

.logo
	-webkit-transform: scale(-1, 1)
	-moz-transform: scale(-1, 1)
	-ms-transform: scale(-1, 1)
	-o-transform: scale(-1, 1)
	transform: scale(-1, 1)

.welcome-title, .welcome-help
	font-family: american typewriter, serif

.section
	background-color: $grey-lighter2

.post-title
	color: $black
	&:hover
		color: $red

.pagination > .pagination-list
	list-style-type: none

.flash
	position: fixed
	z-index: 10
	bottom: 10px
	right: 10px
