@import "node_modules/font-awesome/scss/font-awesome";
@import 'node_modules/bulma/bulma';

form .search
  border-radius: 25px
  border: 2px solid #E57373
  box-sizing: content-box
  font-size: 1rem
  height: 3rem
  margin: 0 0 0 0
  outline: none
  padding: 5px
  width: 100%

  &:focus:not([readonly])
    border: 2px solid #B75C5C
