@import "node_modules/materialize-sass/sass/materialize";

body
  display: flex;
  min-height: 100vh;
  flex-direction: column;

main
  flex: 1 0 auto;

.comments
  height: 300px;
  overflow-y: scroll;
