@import "node_modules/font-awesome/scss/font-awesome";
@import 'node_modules/bulma/bulma';

.nav
  background-color: #ff5257;

.nav-item a, a.nav-item
  color: #fafafa;

.logo
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);

.section
  background-color: #e8e8e8;

form .search
  border-radius: 25px
  border: 2px solid #E57373
  box-sizing: content-box
  font-size: 1rem
  height: 3rem
  margin: 0 0 0 0
  outline: none
  padding: 5px
  width: 100%

  &:focus:not([readonly])
    border: 2px solid #B75C5C
